<%= link_to user_path(user), class: 'flex w-full gap-x-4' do %>
  <div class="w-2/12 border-2 p-4">
    <img src="<%= user.photo %>" alt="image">
  </div>
    
  <div class="flex border-2 px-4 py-4 flex-1 justify-between">
  <h2 class="text-3xl self-center"><%= user.name %></h2>
  <p class="self-end text-xs">
    <span>Number of posts: </span>
    <%= user.posts_counter || 0 %>
  </p>
  </div>   
  <% end %>